<div class='fixed z-20 top-80 mx-auto bg-white w-96 flex flex-col rounded shadow-md p-2' [@dialog]
     *ngIf='visible'>
  <button data-test-name='closeButton' *ngIf='canBeClosed' class='self-end' aria-label='Close'
          (click)='close()'>
    <svg-icon key='close' class='flex justify-center items-center w-full bg-transparent'></svg-icon>
  </button>
  <div class='p-4' data-test-name='content'>
    <ng-content></ng-content>
  </div>
</div>

<div data-test-name='overlay' *ngIf='visible'
     class='z-10 fixed top-0 left-0 bg-gray-400 w-full h-full opacity-90'
     (click)='close()'></div>
