<div class='flex justify-center items-center h-screen'>
  <form class='flex flex-col w-72 bg-purple-50 p-4 space-y-4 rounded shadow-md'
        [formGroup]='loginForm'
        (ngSubmit)='onSubmit()'>
    <div *ngIf='(loading$ | async) === true' class='flex justify-center items-center'>
      <svg-icon data-test-name='loading' class='w-24 h-24' key='loading'></svg-icon>
    </div>

    <img class='self-center h-16 object-contain' src='assets/logo.png' alt='Keepadoo logo' />
    <h1 class='font-serif text-xl font-bold my-4'>Login</h1>
    <input data-test-name='emailInput'
           class='text-sm font-sans shadow border-0 rounded p-3 w-full focus:outline-none focus:ring-2 focus:ring-purple-600'
           type='email' name='email'
           placeholder='email' formControlName='email' />
    <input data-test-name='passwordInput'
           class='text-sm font-sans shadow border-0 rounded p-3 w-full focus:outline-none focus:ring-2 focus:ring-purple-600'
           type='password'
           name='password'
           placeholder='password' formControlName='password' />

    <button
      data-test-name='submitButton'
      class='text-sm font-sans rounded bg-yellow-400 shadow-md self-start px-4 py-2 focus:outline-none focus:ring-2 focus:ring-purple-600 hover:bg-yellow-600 hover:text-white transition duration-200'
      (click)='onSubmit()' [disabled]='!loginForm.valid'>
      Login
    </button>

    <div data-test-name='error' class='text-sm font-sans text-red-500'
         *ngIf='error$ | async; let error'>{{ error }}</div>

    <a class='text-sm font-sans text-gray-600' data-test-name='registerLink'
       routerLink='../register'>...or
      register <strong class='underline font-medium text-purple-900'>here</strong></a>
  </form>
</div>
