<div class='flex flex-col w-96 mx-auto'>
  <button class='self-end' (click)='onClose()' data-test-name='closeButton'>
    Back
  </button>

  <h4 class='font-sans text-lg font-bold mb-8'>New movies list</h4>
  <form class='mb-4' [formGroup]='moviesListForm'>
    <label for='listName' class='font-sans text-sm text-gray-600 mr-4'>Name:</label>
    <input
      data-test-name='nameInput'
      class='shadow border-0 rounded p-3 text-sm font-sans'
      type='text'
      id='listName'
      placeholder='Name of the new list...'
      formControlName='name'
    />
  </form>

  <div>
    <button
      data-test-name='createButton'
      class='text-xs font-sans rounded bg-yellow-400 shadow-md px-4 py-2 hover:bg-yellow-600 transition duration-200'
      (click)='onSubmit()'
      [disabled]='!moviesListForm.valid'
      [class.loading]='loading$ | async'
    >
      <img *ngIf='loading$ | async' class='loading-image' src='/assets/spinner.svg' alt='' />
      <span class='create-button-text' *ngIf='(loading$ | async) === false'>Create</span>
    </button>

    <div class='error' data-test-name='error'
         *ngIf='error$ | async; let error'>{{ error }}</div>
  </div>
</div>
