<div class='flex flex-col mx-4 md:mx-8'>
  <button class='self-end' (click)='onClose()' data-test-name='closeButton'>
    <svg-icon key='close'
              class='my-4 flex justify-center items-center w-full bg-transparent'></svg-icon>
  </button>

  <h4 class='font-serif text-lg font-bold mb-8'>New movies list</h4>
  <form class='mb-6 flex flex-row items-center' [formGroup]='moviesListForm'>
    <label for='listName' class='font-sans text-sm text-gray-600 mr-4'>Name:</label>
    <input
      data-test-name='nameInput'
      class='flex-grow max-w-xs shadow rounded p-3 text-sm font-sans focus:outline-none focus:ring-2 focus:ring-purple-600'
      type='text'
      id='listName'
      placeholder='Name of the new list...'
      formControlName='name'
    />
  </form>

  <div>
    <keepadoo-button class='w-24 block' text='Create' buttonType='primary'
                     [disabled]='moviesListForm.invalid' (clicked)='onSubmit()'>
    </keepadoo-button>

    <div class='text-sm font-sans text-red-500' data-test-name='error'
         *ngIf='error$ | async; let error'>{{ error }}</div>
  </div>
</div>
