<section class='flex flex-col mb-2 p-2 border-b border-purple-300' (click)='listClicked()'>
  <div class='flex flex-row items-baseline my-2'>
    <h4 class='text-base font-serif font-bold text-gray-800'
        data-test-name='listName'>{{ moviesList.name }}</h4>
    <span class='text-xs font-sans font-this text-gray-400 ml-1'
          data-test-name='listCount'>{{ moviesList.moviesCount }}</span>
    <button
      class='text-xs font-sans text-yellow-600 flex-grow text-right hover:text-yellow-800 transition duration-200'
      data-test-name='selectButton' (click)='listClicked()'>See all >
    </button>
  </div>
  <section class='flex flex-row space-x-2'>
    <img
      data-test-name='movieImage'
      *ngFor='let movie of moviesList.recentMovies'
      class='h-20 object-contain rounded shadow-lg'
      src='https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}'
      alt='Movie poster'
    />
  </section>
</section>
