<div class='flex justify-center items-center h-screen'>
  <form class='flex flex-col w-72 bg-purple-50 p-4 space-y-4 rounded shadow-md'
        [formGroup]='registerForm' (ngSubmit)='onSubmit()'>
    <div *ngIf='(loading$ | async) === true'>
      <img class='loading-image' src='/assets/spinner.svg' alt='' />
    </div>

    <img class='self-center h-16 object-contain' src='assets/logo.png' alt='' />
    <h1 class='font-sans text-xl font-bold my-4'>Register</h1>

    <input class='text-sm font-sans shadow border-0 rounded p-3 w-full'
           type='email' name='email' placeholder='email' formControlName='email' />

    <input class='text-sm font-sans shadow border-0 rounded p-3 w-full'
           type='password' name='password' placeholder='password' formControlName='password' />

    <button
      class='text-sm font-sans rounded bg-yellow-400 shadow-md self-start px-4 py-2 hover:bg-yellow-600 transition duration-200'
      type='button' (click)='onSubmit()' [disabled]='!registerForm.valid'>
      Register
    </button>

    <div *ngIf='error$ | async; let error'>{{ error }}</div>

    <a class='text-sm font-sans text-gray-600' routerLink='../login'>...or login here</a>
  </form>
</div>
