<div class="container">
  <form class="register-box" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="overlay" *ngIf="(loading$ | async) === true">
      <img class="loading-image" src="/assets/spinner.svg" alt="" />
    </div>
    <div class="logo-container"><img src="assets/logo.png" alt="" /></div>
    <h1>Register</h1>
    <div class="input-element">
      <input type="email" name="email" placeholder="email" formControlName="email" />
    </div>
    <div class="input-element">
      <input type="password" name="password" placeholder="password" formControlName="password" />
    </div>

    <div class="button-container">
      <button type="button" (click)="onSubmit()" [disabled]="!registerForm.valid">
        <span class="register-button-text">Register</span>
      </button>

      <div class="error" *ngIf="error$ | async; let error">{{ error }}</div>
    </div>
    <section class="login-area">
      <a class="login-button" routerLink="../login">...or login here</a>
    </section>
  </form>
</div>
