<div class="container">
  <h1>Your lists</h1>
  <ng-container *ngIf="moviesLists$ | async; let moviesLists">
    <ng-container *ngIf="isLoading$ | async; else moviesListsTemplate">
      <div class="loading-container">
        <img class="loading-image" src="/assets/spinner.svg" alt="" />
      </div>
    </ng-container>
    <ng-template #moviesListsTemplate>
      <keepadoo-movies-list
        *ngFor="let moviesList of moviesLists"
        [moviesList]="moviesList"
        (listClick)="goToList($event)"
      ></keepadoo-movies-list>
      <section *ngIf="moviesLists.length === 0">
        <span class="helper-text"
          >Please use the
          button bellow to create your first list. What fun!</span
        >
      </section>
    </ng-template>
  </ng-container>
</div>
