<nav>
  <div class="navigation-button">
    <a routerLink="./movies-lists" routerLinkActive="active" class="movies-link">
      <span>Movies</span>
    </a>
  </div>

  <div class="navigation-button">
    <a routerLink="/crisis-center" routerLinkActive="active" class="tv-shows-link">
      <span>Shows</span>
    </a>
  </div>

  <div class="navigation-button">
    <a routerLink="/crisis-center" routerLinkActive="active" class="places-link">
      <span>Places</span>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="navigation-button">
    <a class="add-button" (click)="goToAdd()">
      <span>Add</span>
    </a>
  </div>
  <div class="navigation-button sign-out">
    <a class="sign-out-button" (click)="signOut()">
      <span>Sign out</span>
    </a>
  </div>
</footer>

<div class="spacer"></div>
